@model IEnumerable<ELCAPITAL.Models.TarjetaDeCredito>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paquete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoTarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paquete.CualProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTarjetaDeCredito">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTarjetaDeCredito">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTarjetaDeCredito">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
