@model ELCAPITAL.Models.Cliente

@{
    ViewData["Title"] = "MI CUENTA";
}

<h1>MI CUENTA</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>
        <dt class="col-sm-2">
            @if (Model is ELCAPITAL.Models.PersonaFisica)
            {
                <span>Nombre</span>
            }
            else
            {
                <span>Nombre Empresa</span>
            }
        </dt>
        <dd class="col-sm-10">
            @(Model is ELCAPITAL.Models.PersonaFisica ? ((ELCAPITAL.Models.PersonaFisica)Model).Nombre
                : ((ELCAPITAL.Models.PersonaJuridica)Model).NombreEmpresa)
        </dd>
        <dt class="col-sm2">
            Ingresos
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.Ingresos)
        </dd>
        
    </dl>
</div>
